@import "susy";

$susy:(
        columns: 24,
        gutters: 1/4,
        math: fluid,
        output: float,
        gutter-position: inside,
);
body{
    @include container(100%);
    background: antiquewhite;
}

#todo-list{
	li.done label{
		background: limegreen;
		text-decoration: line-through;
	}
	li.editing .edit {
		display: block;
	}
	li.editing .view {
		display: none;
	}
    li .edit {
		display: none;
	}
}