/**
 * importer.scss
 *
 * By default, new Sails projects are configured to compile this file
 * from SASS to CSS.  Unlike CSS files, SASS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The SASS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent SASS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300);
* {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1rem; }

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: antiquewhite; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

a {
  text-decoration: none; }

button#logout {
  float: right;
  margin-right: 7px;
  background-color: #009ac9;
  border: 2px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  button#logout:hover {
    background-color: antiquewhite;
    cursor: pointer;
    color: #009ac9;
    border-color: #009ac9; }

#wrapper {
  margin-top: 1%;
  position: absolute;
  width: 45.83333%;
  left: 28%; }
  #wrapper .user-info img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    margin-left: 37.5%;
    margin-right: -100%;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    border-radius: 50%;
    border: 2px #ffffff solid; }
  #wrapper .user-info p {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    margin-left: 37.5%;
    margin-right: -100%;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    text-align: center;
    margin-top: 25%; }
  #wrapper .todo-input input {
    margin-top: 31%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 95.83333%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    margin-left: 2%; }
  #wrapper .todo-input input[type="text"] {
    -webkit-appearance: none;
    background-color: tomato;
    border: none;
    height: 100px;
    text-align: center;
    font-size: 30px;
    box-sizing: border-box;
    border: 0px solid black;
    transition: background-color 1s;
    transition: border 1s; }
  #wrapper .todo-input input[type="text"]:focus {
    -webkit-appearance: none;
    background-color: #ff7960;
    border: 2px solid black;
    height: 100px;
    text-align: center;
    font-size: 30px;
    outline: none;
    transition: background-color 1s;
    transition: border 1s; }
  #wrapper .todo-input input[type="text"]::-webkit-input-placeholder {
    color: white;
    border: none; }
  #wrapper .todo-input input[type="text"]::-webkit-input-placeholder::after {
    content: '>';
    color: black;
    border: none;
    font-weight: bold;
    position: relative;
    left: 0;
    transition: left 1s; }
  #wrapper .todo-input input[type="text"]::-webkit-input-placeholder::before {
    content: '<';
    color: black;
    border: none;
    font-weight: bold;
    position: relative;
    left: 0;
    transition: left 1s; }
  #wrapper .todo-input input[type="text"]:focus::-webkit-input-placeholder::after {
    left: 20px;
    position: relative;
    transition: left 1s; }
  #wrapper .todo-input input[type="text"]:focus::-webkit-input-placeholder::before {
    left: -20px;
    position: relative;
    transition: left 1s; }

.todos {
  background: #f4d4aa;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 95.83333%;
  float: left;
  padding-left: 0.41667%;
  padding-right: 0.41667%;
  margin-left: 2%; }

#todo-count {
  float: right;
  margin-right: 7px; }

#todo-list {
  margin-top: .2em; }
  #todo-list li {
    list-style: none;
    height: 45px;
    border: none; }
  #todo-list li.done label {
    background: lightgreen;
    text-decoration: line-through; }
  #todo-list li.editing .edit {
    display: block; }
  #todo-list li.editing .view {
    display: none; }
  #todo-list li .edit {
    display: none; }
  #todo-list #inline-edit .edit {
    background: #f1c993;
    width: 91.66667%;
    -webkit-box-shadow: 0px 1px 30px 0px #919191;
    -moz-box-shadow: 0px 1px 30px 0px #919191;
    box-shadow: 0px 1px 30px 0px #919191;
    border: none;
    height: 40px;
    padding-left: 10px; }

button.destroy {
  float: right;
  margin-right: 8px;
  background: none !important;
  border: none;
  padding: 0 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  button.destroy:hover {
    cursor: pointer;
    color: tomato; }

button#clearTodo {
  background: tomato;
  color: antiquewhite;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 37.5%;
  float: left;
  padding-left: 0.41667%;
  padding-right: 0.41667%;
  margin-left: 33.33333%;
  margin-top: 0; }
  button#clearTodo:hover {
    cursor: pointer;
    background: antiquewhite;
    color: tomato; }

button#google {
  background: tomato;
  font-size: 1.5em;
  color: antiquewhite;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  position: absolute;
  top: 44%;
  left: 42%; }
  button#google:hover {
    cursor: pointer;
    background: antiquewhite;
    color: tomato;
    border-color: tomato; }

.hint {
  text-align: center;
  opacity: 0.7;
  font-size: 0.7em;
  margin-top: 0;
  margin-bottom: 0; }
