<button id="logout"  ng-click="logout()">Logout</button>
<div id="wrapper">
    <div class="user-info">
        <img src="{{ user.picture }}" alt=""/>
        <p>{{ user.displayName }}</p>
    </div>
    <div class="todo-input">
        <input ui-keypress="{13:'createNewTodo($event)'}" type="text" placeholder='Create New Todo' ng-model='newTodo'>
    </div>
    <section class="todos">
        <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
        <label for="toggle-all">Mark all as complete</label>
        <span id="todo-count">
            <strong>({{remainingCount}})</strong>
            <ng-pluralize count="remainingCount" when="{ one: 'item left)', other: 'items left' }"></ng-pluralize>
        </span>
        <p class="hint">Double Click on a todo to edit</p>
        <ul id="todo-list">
            <li class='fx-zoom-right fx-easing-strong fx-speed-1800' ng-repeat="todo in todos | orderBy: '-updatedAt'" ng-class="{done: todo.done, editing: todo == editedTodo}">
                <section class='view'>
                    <input class="toggle" type="checkbox" ng-model="todo.done" ng-change="doneToDo($index, todo.id, todo.done)">
                    <label ng-dblclick="editTodo(todo)">{{ todo.description }}</label>
                    <button for="checkboxFourInput" class="destroy" ng-click="removeToDo($index, todo.id)"><i class="fa fa-times-circle fa-2x"></i></button>
                </section>
                <form id="inline-edit" ng-submit="doneEditing(todo)">
                    <input class="edit" ng-model="todo.description" ng-blur="doneEditing(todo)" todo-escape="revertEditing($index)" todo-focus="todo == editedTodo">
                </form>
            </li>
        </ul>
    </section>
    <button id="clearTodo" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear Completed Todos ({{completedCount}})</button>
</div>