<h1>Home</h1>
<button ng-click="logout()">Logout</button>
<p>{{ user.email }}</p>
<p>{{ user.displayName }}</p>
<div>
	<input ui-keypress="{13:'createNewTodo($event)'}" type="text" placeholder='Create New Todo' ng-model='newTodo'>
</div>
<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
<label for="toggle-all">Mark all as complete</label>
<span id="todo-count">
	<strong>{{remainingCount}}</strong>
	<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
</span>
<section id='todo' ng-repeat="todo in todos">
	Done?<input type="checkbox" ng-model="todo.done" ng-change='doneToDo($index, todo.id, todo.done)'> -- {{ todo.description }} ----- <span ng-click="removeToDo($index, todo.id)">x</span>
</section>
<button ng-click="clearCompletedTodos()">Clear Completed Todos ({{completedCount}})</button>